@media (max-width:450px) {
    .navbar {
        
    }
    .divnav {
        height: 150px;
        padding: 10px 50px;
    }
    #titulo {
        font-size: 3.5em;
    }
    .telainicio {
        height: 700px;
    }

    .telaInicio div {
        gap: 30px !important;
    }
    .buttonIndex {
        animation:piscar 2s infinite;
    }
    body.dark .buttonIndex{
        animation: piscar2 2s infinite;
    }

    @keyframes piscar {
        0% {
            box-shadow: 0 0 0px #73ffb2;
        }
        100%{
            box-shadow: 0 0 40px #73ffb2;
        }
        0% {
            box-shadow: 0 0 0px #73ffb2;
        }
    }
    @keyframes piscar2 {
        0% {
            box-shadow: 0 0 0px #e89931;
        }
        100%{
            box-shadow: 0 0 40px #e89931;
        }
        0% {
            box-shadow: 0 0 0px #e89931;
        }
    }
    footer {
        height: 100px !important;
        flex-direction: column !important; 
    }

    footer div {
        justify-content: space-around;
    }

    footer p {
        text-align: center;
    }

    footer div a i {
        font-size: 26px !important;
    }

    .menu a {
        display: none;
    }

    .divnav .fa-arrow-right {
        display: inline-block !important;
        z-index: 99;
    }
    
    .divnav .fa-arrow-left {
        display: inline-block !important;
        z-index: 99;
    }

    .section-sm-content {
        padding-top: 20px !important;
        flex-direction: column;
    }
    .text-content-sm {
        padding-left: 10px;
        width: 100% !important; 
    }
    .text-sm {
        font-size: 2.3em !important;
    }
    .subtitle-sm {
        font-size: 2.1em !important;
    }
    .about-me {
        max-width: 85% !important;
        font-size: 1.2em !important;
    }
    .tec-text-sm {
        margin-bottom: 50px;
        width: 400px !important;
        height: 60px !important;
        padding: 0 5px;
        text-align: center;
    }
    .sobre-mim {
        height: 900px !important;
        width: 100%;
    }
    .img-sm img {
        width: 260px;
    }
    .img-sm {
        padding-left: 90px ;
    }
    .projetos {
        height: 900px !important;
    }
    .grid-projects {
        padding: 0px 20px;
    }
    .edits {
        height: 2280px !important;
    }
    .grid-itens {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto)) !important;
    }
    .edits-content {
        padding: 0px 20px;
    }
    

}
