@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: .2s linear;
};

:root {
    --preto:#000000;
    --color1: #202023;
}

.nav {
    height: 100px;
    width: 100%;
    background: #000000;
    
}

.navbar {
    margin: 0 auto;
    max-width: 1600px;
}

.divnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
}


.divnav a {
    font-size: 1.2rem;
    transition: .3s;
    padding: 0px;
    margin: 0px;  
}

.divnav .menu{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.divnav a:hover {
    transform: scale(1.2);
    color: #73ffb2;
    border-bottom: 1px solid #73ffb2;
}

.divnav img {
    height: 70px;
    width: 70px;
}

.title {
    font-size: 30px;
    color:#EDEDED;
}

a {
    color: #EDEDED;
}

.links-social-media {
    height: 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.telaInicio {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.telaInicio div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telaInicio div h1 {
    font-size: 5em;
    color: #EDEDED;
    padding-bottom: 10px;
}

.telaInicio div p {
    font-size: 30px;
    color: #EDEDED;
    padding-bottom: 20px;
}

.telaInicio div div {
    height: 5vh;
    width: 120px;
    border: solid 1px #ededed;
    border-radius: 20px;
}

.telaInicio div div a {
    font-size: 20px;
    color: #EDEDED;
}

.sobre-mim {
    height: 85vh;
    width: 100%;
}

.sm-bar {
    margin: 0 auto;
    max-width: 1400px;
}

.section-sm-content {
    padding-top: 50px;
    display: flex;
    width: 100%;
}

.section-sm-content img {
    border: 1px white solid;
    padding: 10px;
    object-fit: cover;
    display: block;
}

.text-content-sm {
    width: 60%;
}

.img-sm {
    width: 100%;
    max-width: 40%;
    height: auto;
}


.text-sm {
    color: #EDEDED;
    font-size: 70px;
    padding-bottom: 10px ;
    padding-top: 20px;
}

.text-content-sm p {
    max-width: 700px;
    color: #EDEDED;
}

.subtitle-sm {
    color: #EDEDED;
    font-size: 40px;
    padding-bottom: 30px;
}

.about-me {
    font-size: 20px;
    padding-bottom: 50px;
}

.tec-text-sm {
    height: 40px;
    width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: solid 2px #ededed;
    border-radius: 20px;
}

.projetos {
    height: 85vh;
    width: 100%;
}

.projetos-bar {
    margin: 0 auto;
    max-width: 1400px;
}

.projetos-content {
    padding: 50px 0;
    display: flex;
    width: 100%;
}

.projetos-content h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
}

.edits {
    height: 900px;
    width: 100%;
}

.edits-bar {
    margin: 0 auto;
    max-width: 1400px;
}

.edits-content {
   display: flex;
   flex-direction: column;
}

.edits-content h1 {
    font-size: 50px;
    padding-bottom: 40px ;
    padding-top: 20px;
    text-align: center;
    color: #EDEDED;
}

.grid-itens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ededed;
}

.fott {
    height: 80px;
    background: #202023;
}

.fott p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDEDED;

}

.divnav #chk #moon{
    opacity: 0;
    transition: .5s;
}

#chk {
    display: flex;
    align-items: center;
    height: 100px;
    width: 30px;
    position: relative;
}

#chk i {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 100px;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

body.dark #moon {
    opacity: 1 !important;
}

body.dark #sun {
    opacity: 0;
}

.background {
    background: #202023;
}

body.dark {
    background: #ededed;
}

body.dark #titulo {
    color: #202023;
}

body.dark #paragrafo_typing {
    color: #202023;
}

body.dark #paragrafo {
    color: #202023;
}

body.dark .telaInicio div div {
    border: solid 1px #202023;
}

body.dark #linksm {
    color: #202023;
}

body.dark .nav{
    background: #ededed;
    border-bottom: 1px solid black;
}

body.dark .tec-text-sm {
    border: solid 2px #202023;
}

body.dark footer p {
    color: #202023;
}

body.dark .section-cv {
    background-color: #202023;
    color: #ededed;
}

body.dark .section-cv button {
    color: #EDEDED;
    background-color: #202023;
}

body.dark .section-cv i {
    color: #EDEDED;
}

body.dark footer div a i {
    color: #202023;
}

body.dark .edits-content h1 {
    color: #202023;
}

body.dark .grid-itens {
    border: 1px solid #202023;
}

body.dark .section-sm-content img {
    border: 1px #202023 solid;
}

footer {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer div{
    display: flex;
    gap: 30px;
}

footer div a i{
    font-size: 19px;
    color: #ededed;
}

footer p {
    font-size: .9rem;
    color: #ededed;
}

.section-cv {
    background-color: #202023;
    color: #73ffb2;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

.section-cv i {
    color: #73ffb2;
}
#cv {
    background: #202023;
    color: #73ffb2;
    border: none;
    cursor: pointer;
}


.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn i {
    padding-right:10px ;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
    color: #73ffb2;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
  .btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}



.fa-youtube:hover {
    color: #ff3838;
}

.fa-instagram:hover {
    color: #ff00f2;
}

.fa-linkedin:hover {
    color: #389afc;
}

.fa-github:hover {
    color: #a94dff;
}














